#list {
    padding: 20px 30px;
    overflow: hidden;
    height: 650px;

    .tittle {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 20px;

        .header {
            font-size: 24px;
        }

        .icon {
            font-size: 1.4rem;

            &:hover {
                cursor: pointer;
                color: #FC0;
            }
        }
    }

    .main {
        overflow-y: scroll;
        height: 100%;
        position: relative;

        &::-webkit-scrollbar-track {
            background-color: transparent;
        }

        &::-webkit-scrollbar {
            width: 6px;
            background-color: transparent;
        }

        &::-webkit-scrollbar-thumb {
            background-color: transparent;
            border: 2px solid rgba($color: aqua, $alpha: 0.1);
        }


        .item {
            display: flex;
            justify-content: space-between;
            align-items: center;
            gap: 20px;
            margin-top: 12px;
            padding-bottom: 12px;
            box-shadow: 0px 15px 10px -15px rgba(149, 157, 165, 0.2);

            img {
                width: 50px;
                height: 50px;
                border-radius: 50%;
            }

            .song {
                flex: 1;
                text-align: start;
                align-self: first baseline;


                &-name {
                    font-size: 20px;
                    font-weight: bold;
                    padding-bottom: 4px;
                }

                &-detail {
                    opacity: 0.8;
                }

                p {
                    margin: 0;
                }

                &:hover {
                    // color: #FC0;
                    cursor: pointer;
                    text-shadow: #FC0 1px 0 10px;
                }
            }

            .song-icon {
                display: flex;
                gap: 12px;

                .icon {
                    font-weight: bold;
                    cursor: pointer;
                    font-size: 1.4rem;

                    &:hover {
                        color: #FC0;
                    }

                }
            }
        }
    }
}